body {
  background: #f5f5f5;
}
body header {
  width: 100%;
  height: 70px;
  background: #fff;
}
body header .div {
  width: 1200px;
  height: 100%;
  line-height: 70px;
  margin: 0 auto;
  font-size: 20px;
  font-family: MicrosoftYaHei;
  color: #333;
}
body header .div .left {
  float: left;
}
body header .div .right {
  width: 480px;
  float: right;
  margin-top: 10px;
}
body header .div .right div {
  width: 80px;
  height: 53px;
  float: right;
}
body header .div .right div.div1 {
  background: url("../images/nor_1.png");
  background-size: 100% 100%;
}
body header .div .right div.div1.active {
  background: url("../images/pre_1.png");
}
body header .div .right div.div2 {
  background: url("../images/nor_2.png");
  background-size: 100% 100%;
}
body header .div .right div.div2.active {
  background: url("../images/pre_2.png");
}
body header .div .right div.div3 {
  background: url("../images/nor_3.png");
  background-size: 100% 100%;
}
body header .div .right div.div3.active {
  background: url("../images/pre_3.png");
}
body header .div .right div.div4 {
  background: url("../images/nor_4.png");
  background-size: 100% 100%;
}
body header .div .right div.div4.active {
  background: url("../images/pre_4.png");
}
body header .div .right div.div5 {
  background: url("../images/nor_5.png");
  background-size: 100% 100%;
}
body header .div .right div.div5.active {
  background: url("../images/pre_5.png");
}
body header .div .right div.div6 {
  background: url("../images/nor_6.png");
  background-size: 100% 100%;
}
body header .div .right div.div6.active {
  background: url("../images/pre_6.png");
}
