.main {
  width: 1196px;
  margin: 0 auto;
}
.main header {
  width: 100%;
  height: 52px;
  background: url("../images/tab_bg.png");
  background-size: 100% 100%;
  position: relative;
  text-align: center;
  color: #333;
  font-size: 20px;
  font-weight: bold;
}
.main header .span1 {
  display: block;
  line-height: 40px;
}
.main header .span {
  position: absolute;
  font-size: 14px;
  bottom: 5px;
  right: 35px;
  line-height: 12px;
  font-weight: normal;
}
.main .chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 35px;
  position: relative;
}
.main .chart .water {
  width: 730px;
  height: 553px;
  background: url("../images/bg.png");
  background-size: 100% 100%;
  margin-top: 30px;
}
.main .chart .water .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .chart .water .top .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.main .chart .water .top .left .div3 {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  padding: 50px 38px 0 38px;
}
.main .chart .water .top .left .div3 span {
  position: absolute;
  width: 70px;
  height: 29px;
  line-height: 24px;
  text-align: center;
  background: url("../images/bg_date.png");
  background-size: 100% 100%;
  top: 20px;
  left: 140px;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
}
.main .chart .water .top .left .font {
  font-size: 24px;
  color: #ec3e3b;
  font-weight: bold;
  padding: 38px 38px 0 38px;
  letter-spacing: 18px;
}
.main .chart .water .top .left .ddd .val {
  padding: 28px 0 0 0;
  font-size: 14px;
  color: #333;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .chart .water .top .left .ddd .val span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 42px;
}
.main .chart .water .bottom {
  position: relative;
}
.main .chart .water .bottom .tit {
  position: absolute;
  width: 100%;
  bottom: -10px;
  text-align: center;
}
.main .chart .water .bottom .tit span {
  display: inline-block;
  margin: 0 4px;
}
.main .chart .water .bottom .tit span.span1 {
  width: 10px;
  height: 10px;
  background: #0f76d8;
}
.main .chart .water .bottom .tit span.span2 {
  width: 10px;
  height: 10px;
  background: #ec3e3b;
  margin-left: 30px;
}
.main .chart .water .bottom .name {
  position: absolute;
  width: 482px;
  text-align: left;
  top: 16px;
  left: 30px;
}
.main .chart .div {
  width: 356px;
  height: 278px;
  position: relative;
  background: url("../images/bg1.png");
  background-size: 100% 100%;
}
.main .chart .div.divv {
  margin-top: 28px;
}
.main .chart .div i {
  display: block;
  width: 47px;
  height: 45px;
  position: absolute;
  z-index: 9;
}
.main .chart .div i.i1 {
  background: url("../images/frame2.png");
  background-size: 100% 100%;
  top: -4px;
  left: -4px;
}
.main .chart .div i.i2 {
  background: url("../images/frame1.png");
  background-size: 100% 100%;
  top: -4px;
  right: -4px;
}
.main .chart .div i.i3 {
  background: url("../images/frame4.png");
  background-size: 100% 100%;
  bottom: -4px;
  left: -4px;
}
.main .chart .div i.i4 {
  background: url("../images/frame3.png");
  background-size: 100% 100%;
  right: -4px;
  bottom: -4px;
}
.main .chart .div .box .font {
  overflow: hidden;
  padding: 40px 30px 0 30px;
  position: relative;
}
.main .chart .div .box .font.font2 {
  padding: 20px 30px 0 30px;
  color: #ec3e3b;
  font-weight: bold;
  font-size: 20px;
}
.main .chart .div .box .font.font3 {
  padding: 20px 30px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .chart .div .box .font.font3 span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.main .chart .div .box .font.margin0 {
  margin-bottom: 0;
}
.main .chart .div .box .font div {
  position: absolute;
  width: 84px;
  height: 29px;
  background: url("../images/bg_date.png");
  background-size: 100% 100%;
  top: 20px;
  left: 140px;
}
.main .chart .div .box .font .span1 {
  float: left;
  color: #333;
  font-size: 20px;
}
.main .chart .div .box .font .span1.bold {
  font-weight: bold;
}
.main .chart .div .box .font .span2 {
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.main .chart .div .box .font .span2.boxx span {
  font-size: 14px;
  display: inline-block;
}
.main .chart .div .box .font .span2.boxx span.s1 {
  width: 10px;
  height: 10px;
  background: #e4393c;
}
.main .chart .div .box .font .span2.boxx span.s2 {
  width: 10px;
  height: 10px;
  background: #35b0fa;
}
.main .chart .div .box .font .span3 {
  float: left;
  font-weight: bold;
  font-size: 20px;
  color: #ec3e3b;
}
.main .chart .div .box .font .span3 span {
  font-size: 18px;
  color: #333;
  padding-right: 10px;
}
.main .chart .div .box .font .span4 {
  float: right;
  font-size: 16px;
  color: #ec3e3b;
  font-weight: bold;
}
.main .chart .div .box .chartcla {
  margin: 0px auto;
}
.main .chart .two {
  margin-top: 30px;
  width: 542px;
  height: 280px;
  background: url("../images/bg2.png");
  background-size: 100% 100%;
  position: relative;
}
.main .chart .two i {
  display: block;
  width: 47px;
  height: 45px;
  position: absolute;
  z-index: 9;
}
.main .chart .two i.i1 {
  background: url("../images/frame2.png");
  background-size: 100% 100%;
  top: -4px;
  left: -4px;
}
.main .chart .two i.i2 {
  background: url("../images/frame1.png");
  background-size: 100% 100%;
  top: -4px;
  right: -4px;
}
.main .chart .two i.i3 {
  background: url("../images/frame4.png");
  background-size: 100% 100%;
  bottom: -4px;
  left: -4px;
}
.main .chart .two i.i4 {
  background: url("../images/frame3.png");
  background-size: 100% 100%;
  right: -4px;
  bottom: -4px;
}
.main .chart .two.twoo {
  width: 354px;
  height: 351px;
  background: none;
}
.main .chart .two.twoo .header1 {
  height: 60px;
  line-height: 86px;
  font-weight: Bold;
  text-align: center;
  font-size: 20px;
  color: #333;
}
.main .chart .two.twoo .lists .list {
  padding: 0px 35px;
  margin: 30px 0;
}
.main .chart .two .header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .chart .two .header .d {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  text-align: center;
}
.main .chart .two .header .d.dd {
  cursor: pointer;
  color: #999;
}
.main .chart .two .lists .list {
  padding: 0px 35px;
  margin: 19px 0;
  overflow: hidden;
}
.main .chart .two .lists .list span {
  text-align: center;
  height: 20px;
  float: left;
}
.main .chart .two .lists .list span.span {
  width: 41px;
  height: 20px;
  line-height: 20px;
  font-weight: Bold;
  font-size: 12px;
  color: #333;
}
.main .chart .two .lists .list span.span.span1 {
  background: url("../images/bg_no1.png");
  background-size: 100% 100%;
}
.main .chart .two .lists .list span.span.span2 {
  background: url("../images/bg_no2.png");
  background-size: 100% 100%;
}
.main .chart .two .lists .list span.span.span3 {
  background: url("../images/bg_no3.png");
  background-size: 100% 100%;
}
.main .chart .two .lists .list span.date {
  font-size: 14px;
  margin-top: 2px;
  margin-left: 25px;
}
.main .chart .two .lists .list span.mon {
  font-weight: Bold;
  font-size: 14px;
  color: #333;
  margin-top: 1px;
  float: right;
}
.main .chart .two .lists .list span.mon.f {
  font-size: 16px;
  color: #ec3e3b;
}
.main .chart .other {
  width: 730px;
  margin-top: 30px;
  height: 351px;
  position: relative;
}
.main .chart .other i {
  display: block;
  width: 47px;
  height: 45px;
  position: absolute;
  z-index: 9;
}
.main .chart .other i.i1 {
  background: url("../images/frame2.png");
  background-size: 100% 100%;
  top: -4px;
  left: -4px;
}
.main .chart .other i.i2 {
  background: url("../images/frame1.png");
  background-size: 100% 100%;
  top: -4px;
  right: -4px;
}
.main .chart .other i.i3 {
  background: url("../images/frame4.png");
  background-size: 100% 100%;
  bottom: -4px;
  left: -4px;
}
.main .chart .other i.i4 {
  background: url("../images/frame3.png");
  background-size: 100% 100%;
  right: -4px;
  bottom: -4px;
}
.main .chart .other .box .font {
  overflow: hidden;
  padding: 30px 30px 0 30px;
}
.main .chart .other .box .font.margin0 {
  margin-bottom: 0;
}
.main .chart .other .box .font .span1 {
  float: left;
  font-size: 20px;
  color: #333;
}
.main .chart .other .box .font .span1.bold {
  font-weight: bold;
}
.main .chart .other .box .font .span2 {
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.main .chart .other .box .font .span2.boxx span {
  font-size: 14px;
  display: inline-block;
}
.main .chart .other .box .font .span2.boxx span.s1 {
  width: 10px;
  height: 10px;
  background: #35b0fa;
}
.main .chart .other .box .font .span2.boxx span.s2 {
  width: 10px;
  height: 10px;
  background: #e4393c;
}
