.main {
  width: 1200px;
  margin: 20px auto 0;
  background: #fff;
  position: relative;
}
.main .i {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.main .title {
  color: #999;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 40px;
}
.main .title.tit {
  font-size: 14px;
}
.main .question {
  font-family: MicrosoftYaHeiUI;
  font-size: 14px;
  color: #333;
  padding: 15px 40px;
}
.main .address,
.main .contact {
  font-size: 14px;
  color: #333;
  padding: 0px 40px 25px;
}
.main .choose {
  overflow: hidden;
  padding-left: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.main .choose div {
  float: left;
  margin-right: 30px;
}
.main .choose div span {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background: url("../images/btn_nor_person.png");
  background-size: 100% 100%;
}
.main .choose div.active span {
  background: url("../images/btn_sel_person.png");
}
.main .account {
  font-size: 14px;
  color: #333;
  padding: 40px 40px 10px;
}
.main .addre {
  position: relative;
}
.main .addre div {
  position: relative;
  padding: 20px 40px 0;
  width: 1120px;
  overflow: hidden;
}
.main .addre div span {
  float: left;
  font-size: 14px;
  color: #333;
  margin-top: 12px;
  margin-right: 20px;
}
.main .addre div span.span1 {
  color: #f00;
  margin-right: 8px;
}
.main .addre div span.err {
  margin-left: 20px;
  margin-right: 10px;
}
.main .addre div span.errFont {
  font-size: 12px;
  color: #e1413e;
}
.main .addre div input {
  float: left;
  width: 500px;
  height: 38px;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  color: #a5a5a5;
  padding: 0 15px;
}
.ffoot {
  width: 1200px;
  height: 100px;
  margin: 80px auto 0;
}
.ffoot button {
  border: none;
  color: #fff;
  float: right;
  width: 140px;
  height: 42px;
  background: #12ca96;
  border-radius: 21px;
}
.alert {
  background: rgba(51,51,51,0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
.alert div {
  width: 400px;
  height: 150px;
  background: #fff;
  text-align: center;
  padding-top: 50px;
}
.alert div p {
  padding: 8px;
  margin: 0;
}
.alert div button {
  margin-top: 40px;
  font-size: 16px;
  color: #12ca96;
  border: none;
  background: transparent;
}
