body {
  background: #ebebee;
}
body header {
  width: 100%;
  height: 100px;
  background: #fff;
}
body header .div {
  height: 100px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
body header .div div {
  width: 100%;
  overflow: hidden;
  position: absolute;
}
body header .div div.top {
  top: 20px;
}
body header .div div span {
  float: left;
  font-size: 14px;
  color: #999;
}
body header .div div span.span1 {
  font-size: 20px;
  color: #333;
  padding: 0 4px;
}
body header .div div span.span {
  padding: 0 4px;
  margin-top: 4px;
}
body main {
  width: 1200px;
  margin: 20px auto;
}
body main .header {
  overflow: hidden;
  background: #fff;
  height: 150px;
  position: relative;
}
body main .header .err {
  position: absolute;
  height: 40px;
  line-height: 50px;
  top: 96px;
  left: 40px;
  min-width: 341px;
  background: url("../images/bg.png");
  background-size: 100% 100%;
  font-size: 12px;
  color: #e1413e;
  text-align: center;
}
body main .header .err.none {
  display: none;
}
body main .header .div {
  float: left;
  font-size: 18px;
  color: #333;
  padding-top: 50px;
}
body main .header .div2 {
  float: right;
  margin: 40px 30px 0 0;
}
body main .header .div2 div {
  float: left;
}
body main .header .div2 div.first {
  width: 94px;
}
body main .header .div2 div.first .bg {
  width: 100%;
  height: 36px;
  background: url("../images/ic1.png");
  background-size: 100% 100%;
}
body main .header .div2 div.first .font {
  width: 100%;
  font-size: 12px;
  padding: 10px 0px;
  color: #12ca96;
}
body main .header .div2 div.two {
  width: 154px;
}
body main .header .div2 div.two .bg {
  width: 100%;
  height: 36px;
  background: url("../images/ic2-1.png");
  background-size: 100% 100%;
}
body main .header .div2 div.two .font {
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 10px 2px;
  color: #bbb;
}
body main .header .div2 div.two.green .bg {
  background: url("../images/ic2-2.png");
  background-size: 100% 100%;
}
body main .header .div2 div.two.green .font {
  color: #12ca96;
}
body main .header .div2 div.two.red .bg {
  background: url("../images/ic2-3.png");
  background-size: 100% 100%;
}
body main .header .div2 div.two.red .font {
  color: #e1413e;
}
body main .header .div2 div.three {
  width: 154px;
}
body main .header .div2 div.three .bg {
  width: 100%;
  height: 36px;
  background: url("../images/ic2-1.png");
  background-size: 100% 100%;
}
body main .header .div2 div.three .font {
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 10px 2px;
  color: #bbb;
}
body main .header .div2 div.three.none {
  display: none;
}
body main .header .div2 div.three.green .bg {
  background: url("../images/ic2-2.png");
  background-size: 100% 100%;
}
body main .header .div2 div.three.green .font {
  color: #12ca96;
}
body main .header .div2 div.three.red .bg {
  background: url("../images/ic2-3.png");
  background-size: 100% 100%;
}
body main .header .div2 div.three.red .font {
  color: #e1413e;
}
body main .header .div2 div.four {
  width: 93px;
}
body main .header .div2 div.four .bg {
  width: 100%;
  height: 36px;
  background: url("../images/ic3-1.png");
  background-size: 100% 100%;
}
body main .header .div2 div.four .font {
  width: 100%;
  text-align: right;
  font-size: 12px;
  color: #bbb;
  padding: 10px 0px;
}
body main .header .div2 div.four.green .bg {
  background: url("../images/ic3-2.png");
  background-size: 100% 100%;
}
body main .header .div2 div.four.green .font {
  color: #12ca96;
}
body main .header .div2 div.four.red .bg {
  background: url("../images/ic3-3.png");
  background-size: 100% 100%;
}
body main .header .div2 div.four.red .font {
  color: #e1413e;
}
body main .div {
  background: #fff;
  position: relative;
  padding: 20px 40px;
}
body main .div img {
  position: absolute;
  top: 0;
  left: 0;
}
body main .div .tit {
  font-size: 16px;
  color: #999;
  font-weight: bold;
}
body main .div .com {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 54px;
  line-height: 54px;
  font-size: 14px;
  color: #333;
}
body main .div .com span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
body main .div .com span.span1 {
  color: #999;
}
body main .div .com span.span2 {
  color: #e1413e;
}
body main .div .com.com1 {
  background: #f6f6f6;
  font-size: 14px;
  color: #666;
  margin-top: 20px;
}
body main .div .list {
  border: 1px solid #333;
  margin-top: 30px;
}
body main .div .list .div ul li {
  position: relative;
  list-style: none;
  height: 45px;
}
body main .div .list .div ul li .div1 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: -25px;
  top: 0;
}
body main .div .list .div ul li .div1 span {
  position: absolute;
  top: -1px;
  display: block;
  width: 22px;
  height: 22px;
  background: url("../images/ic_nor_exhibition.png");
  background-size: 100% 100%;
}
body main .div .list .div ul li .div1 div {
  position: absolute;
  top: 20px;
  left: 10px;
  border-left: 1px solid #d8d8d8;
  width: 1px;
  height: 22px;
}
body main .div .list .div ul li .div2 {
  color: #999;
}
body main .div .list .div ul li .div2 span {
  padding: 0 30px;
  font-size: 14px;
}
body main .div .list .div ul li.last .div2 {
  color: #333;
  font-weight: bold;
}
body main .div .list .div ul li.last .div1 span {
  background: url("../images/ic_pre_exhibition.png");
  background-size: 100% 100%;
}
body main .div .list .div ul li.last .div1 div {
  display: none;
}
body main .div .list .div ul li.last.fail .div2 {
  font-weight: bold;
  color: #e1413e;
}
body main .div table {
  width: 100%;
  margin-top: 30px;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}
body main .div table tr td {
  height: 54px;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  padding-left: 20px;
  font-size: 14px;
  color: #999;
}
body main .div table tr td.td {
  width: 15%;
  color: #333;
}
body main .footer {
  font-size: 16px;
  color: #333;
  overflow: hidden;
  background: #fff;
  padding-bottom: 20px;
}
body main .footer span {
  float: right;
}
body main .footer span.num {
  font-size: 20px;
  color: #e1413e;
  font-weight: bold;
  padding: 0 5px;
  line-height: 18px;
}
body main .footer button {
  float: right;
  background: #12ca96;
  border-radius: 21px;
  width: 140px;
  height: 42px;
  border: none;
  color: #fff;
  margin-top: 20px;
  outline: none;
  margin-right: 40px;
}
