  .main
    width 1200px
    margin 20px auto 0
    background: #fff
    position relative
    .i
      display: block
      width 10px
      height 10px
      position absolute
      top: 0
      left 0
    .title
      color #999999
      font-size: 16px
      font-weight: bold
      padding: 20px 40px
      &.tit
        float left
    .mes
      float left
    .err
      float left
      margin-left: 20px
      &.two
        margin-top: 20px
      img 
        float left
        width: 20px
        margin-right: 20px
        margin-left: 10px
      span
        float left
        font-size: 12px;
        color: #E1413E;
    .choose
      overflow hidden
      padding-left 40px
      padding-top 25px
      div
        float left
        margin-right: 30px
        span
          display block
          float left
          width: 20px
          height 20px
          margin-right 20px
          background: url('../images/btn_nor_person.png')
          background-size: 100% 100%
        &.active
          span
            background: url('../images/btn_sel_person.png')
    .reason
      textarea
        margin: 40px
        width: 88%
        height 240px
        border 1px solid #333
        padding: 30px
        font-size: 14px
        line-height: 28px
        color #999
    .files
      overflow hidden
      div
        padding: 10px 20px
        float right
        span
          padding: 5px 10px
          float left
          background: #F0F0F0;
          border-radius: 4px;
          margin-right: 20px
          color: #333
        button 
          float right
          font-size: 14px;
          color: #E1413E;
          border none
          background: #fff
          margin-top: 5px
    .upload
      background: #fff
      overflow hidden
      padding-right 40px
      button 
        background: #fff
        float right
        display: block
        margin-top 20px
        width 140px
        height 42px
        border: 1px solid #12CA96
        color: #12CA96 
        border-radius: 21px;
      span
        padding: 0 20px
        margin-top 20px
        float right
        line-height 42px
        font-size: 14px
        color: #999999
  .ffoot
    width 1200px
    height 100px
    margin 80px auto 0
    button
      border: none
      color: #fff
      float right
      width: 140px
      height 42px
      background: #12CA96;
      border-radius: 21px;