body
  background: #F5F5F5
  header
    width: 100%
    height 70px
    background #fff
    .div
      width: 1200px
      height 100%
      line-height 70px
      margin: 0 auto
      font-size: 20px
      font-family: MicrosoftYaHei
      color: #333
      .left
        float left
      .right
        width 480px
        float right
        margin-top: 10px
        div
          width 80px
          height 53px
          float right
          &.div1
            background url('../images/nor_1.png')
            background-size: 100% 100%
            &.active
              background url('../images/pre_1.png')
          &.div2
            background url('../images/nor_2.png')
            background-size: 100% 100%
            &.active
              background url('../images/pre_2.png')
          &.div3
            background url('../images/nor_3.png')
            background-size: 100% 100%
            &.active
              background url('../images/pre_3.png')
          &.div4
            background url('../images/nor_4.png')
            background-size: 100% 100%
            &.active
              background url('../images/pre_4.png')
          &.div5
            background url('../images/nor_5.png')
            background-size: 100% 100%
            &.active
              background url('../images/pre_5.png')
          &.div6
            background url('../images/nor_6.png')
            background-size: 100% 100%
            &.active
              background url('../images/pre_6.png')

    