body
  background: #EBEBEE;
  header
    width: 100%
    height 100px
    background: #fff
    .div
      height 100px
      width: 1200px
      margin: 0 auto
      position relative
      div
        width: 100%
        overflow hidden
        position absolute
        &.top
          top: 20px
        &.bottom
          bottom: 0px
          .span 
            display inline-block
            width: 80px;
            padding: 12px 0
            text-align: center
            font-size: 14px;
            color: #999999;
            text-decoration none
            &.active
              color: #333
              font-size: 16px;
              border-bottom: 2px solid #000
        span 
          float left
          font-size: 14px;
          color: #999999;
          &.span1
            font-size: 20px;
            color: #333333;
            padding: 0 4px
          &.span
            padding: 0 4px
            margin-top: 4px
  main
    width: 1200px
    margin: 20px auto
    .div
      background: #fff
      position relative
      padding: 20px 40px
      margin-top: 20px
      img
        position absolute
        top 0
        left 0
      .tit
        font-size: 16px;
        color: #999999;
        font-weight: bold
      .com
        display: flex
        height 54px
        line-height 54px
        font-size: 14px;
        color: #333333;
        span 
          flex: 1
          text-align: center
          &.span1
            color: #999999;
          &.span2
            color: #E1413E;
        &.com1
          background: #F6F6F6;
          font-size: 14px;
          color: #666666;
          margin-top 20px
      .err
        position absolute
        bottom 0
        left -20px
        border 1px solid #ddd
        .error,.error2,.error3
          li
            list-style none
            background: #fff
            z-index: 999
            padding: 4px
            img
              position relative
              margin-right: 10px
              top: 2px
      .footer
        font-size: 16px;
        color: #333333;
        overflow hidden
        span 
          float right
          &.num 
            font-size: 20px;
            color: #E1413E;
            font-weight: bold
            padding: 0 5px
            line-height 18px
        button
          float right
          background: #12CA96;
          border-radius: 21px;
          width: 140px
          height 42px
          border: none
          color #fff
          margin-top: 20px
          outline: none;
      table
        width: 100%
        margin-top: 20px
        border-bottom: 1px solid #333;
        border-right: 1px solid #333;
        tr
          td
            height 54px
            border-left: 1px solid #333;
            border-top: 1px solid #333;
            padding-left: 20px
            font-size: 14px;
            color: #999;
            &.td
              width: 120px
              color: #333333;
            &.td1
              width: 220px
            .input
              width 90% 
              height 100%
              border: none
              outline: none;
              padding-left: 20px
            &.inputTd
              padding: 0
            span 
              color: red
            input
              width 60% 
              height 100%
              border: none
              outline: none;
              padding-left: 20px
            .select 
              height: auto; 
              width: 60%; 
              position: absolute; 
              display: none;
              border: 1px solid #333;
              option
                padding 6px
            select 
              height: auto; 
              width: 60%; 
              outline: none;
              border: none
              appearance:none;  
              -moz-appearance:none;  
              -webkit-appearance:none;
              padding-right: 14px;
              option
                padding 10px
