  .main
    width 1200px
    height 60px
    line-height 60px
    margin 20px auto 0
    background: #fff
    position relative
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #333333;
    div
      float left 
      &.div1
        width: 270px
        padding-left 40px
      &.div3
        float right
  .main1
    width 1160px
    padding 40px
    line-height 160px
    margin 0px auto
    background: #fff
    font-family: MicrosoftYaHei;
    overflow hidden
    img
      width: 226px
      height: 160px
      float left
      margin-right: 60px
    span
      float left
      font-family: MicrosoftYaHei;
      font-size: 18px;
      color: #12CA96;