  .main
    width 1200px
    margin 20px auto 0
    background: #fff
    position relative
    .i
      display: block
      width 10px
      height 10px
      position absolute
      top: 0
      left 0
    .title
      color #999999
      font-size: 16px
      font-weight: bold
      padding: 20px 40px
      &.tit
        font-size: 14px
    .question
      font-family: MicrosoftYaHeiUI;
      font-size: 14px;
      color: #333333;
      padding: 15px 40px
    .address,.contact
      font-size: 14px;
      color: #333333;
      padding: 0px 40px 25px
    .choose
      overflow hidden
      padding-left 40px
      padding-top 25px
      padding-bottom 25px
      div
        float left
        margin-right: 30px
        span
          display block
          float left
          width: 20px
          height 20px
          margin-right 20px
          background: url('../images/btn_nor_person.png')
          background-size: 100% 100%
        &.active
          span
            background: url('../images/btn_sel_person.png')
    .account
      font-size: 14px;
      color: #333333;
      padding: 40px 40px 10px
    .addre
      position relative 
      div
        position relative
        padding: 20px 40px 0
        width: 1120px
        overflow hidden
        span
          float left
          font-size: 14px;
          color: #333333;
          margin-top: 12px
          margin-right: 20px
          &.span1
            color: red
            margin-right: 8px
          &.err
            margin-left: 20px
            margin-right: 10px
          &.errFont
            font-size: 12px;
            color: #E1413E;
        input 
          float left
          width: 500px
          height: 38px
          border: 1px solid #E1E1E1;
          font-size: 14px;
          color: #A5A5A5;
          padding: 0 15px
  .ffoot
    width 1200px
    height 100px
    margin 80px auto 0
    button
      border: none
      color: #fff
      float right
      width: 140px
      height 42px
      background: #12CA96;
      border-radius: 21px;
  .alert
    background: rgba(51,51,51,0.60);
    position: fixed
    top 0
    left 0
    right 0
    bottom: 0
    display: flex
    justify-content: center
    align-items: center
    display: none
    div
      width: 400px
      height: 150px
      background: #fff
      text-align: center
      padding-top: 50px
      p
        padding: 8px
        margin: 0
      button
        margin-top: 40px 
        font-size: 16px;
        color: #12CA96;
        border: none
        background: transparent
        