.main
  width: 1196px
  margin: 0 auto
  header
    width: 100%
    height: 52px
    background: url('../images/tab_bg.png')
    background-size: 100% 100%
    position relative
    text-align: center
    color: #333
    font-size: 20px
    font-weight: bold
    .span1
      display block
      line-height: 40px
    .span
      position absolute
      font-size: 14px
      bottom: 5px
      right 10px
      line-height: 12px;
      font-weight: normal;
  .chart
    display flex
    flex-flow: row wrap;
    align-content: flex-start;
    padding: 0 26px
    .div
      width: 542px
      height 449px
      border: 1px solid #333
      margin: 26px 13px 0 15px
      position relative
      i
        display block
        width: 47px
        height: 45px
        position absolute
        z-index: 9
        &.i1
          background: url('../images/frame2.png')
          background-size: 100% 100%
          top -4px
          left -4px
        &.i2
          background: url('../images/frame1.png')
          background-size: 100% 100%
          top -4px
          right -4px
        &.i3
          background: url('../images/frame4.png')
          background-size: 100% 100%
          bottom: -4px
          left -4px
        &.i4
          background: url('../images/frame3.png')
          background-size: 100% 100%
          right -4px
          bottom: -4px
      .box
        // padding: 30px 30px 0 30px
        .font
          overflow hidden
          // margin-bottom: 18px
          padding: 30px 30px 0 30px
          &.margin0
            margin-bottom: 0
          .span1
            float left
            font-size: 16px;
            color: #333333;
            &.bold
              font-weight: bold
          .span2
            float right
            font-size: 20px;
            font-weight: bold
            color: #333333;
            &.boxx
              span
                font-size: 14px
                display inline-block
                &.s1
                  width: 10px
                  height 10px
                  background: #e4393c
                &.s2
                  width: 10px
                  height 10px
                  background: #35b0fa
          .span3
            float left
            font-weight: bold
            font-size: 20px;
            color: #EC3E3B
            span 
              font-size: 18px;
              color: #333333;
              padding-right: 10px
          .span4
            float right
            font-size: 16px;
            color: #EC3E3B;
            font-weight: bold
        .chartcla
          margin: 0 auto
        .tit
          position absolute
          width 482px
          bottom 12px
          text-align: center
          span
            display: inline-block
            margin: 0 4px
            &.span1
              width: 10px
              height 10px
              background #0F76D8
            &.span2
              width: 10px
              height 10px
              background #EC3E3B
              margin-left 30px
        .name
            position absolute
            width 482px
            text-align: left
            top: 130px;
            left: 45px;
        table
          widtd 502px
          padding: 0 15px 0 45px;
          thead
            tr
              font-size: 14px;
              color: #333333;
              height 58px
              background: #F9F9F9;
              td
                text-align: center
          tbody
            tr
              height 58px
              font-size: 12px;
              color: #333333;
              td
                text-align: left
                position relative
                &.td
                  span
                    display inline-block
                    position absolute
                    width: 20px
                    height: 20px
                    line-height: 20px
                    border-radius: 20px
                    text-align: center
                    background: radial-gradient(#00D2FB, #0D86DF);
                    color: #fff
                    left -26px
                    top 18px